*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

#page-wrapper {
  margin: auto 10px;
}

body {
  min-height: 100vh;
}

header {
  display: flex;
  background-color: cyan;
  height: 64px;
  align-items: center;
}

#logo {
  margin-right: 50%;
  margin-left: 10px;
  width: 48px;
}

nav {
  width: 100%;
  height: 32px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 100px;
}

nav ul li {
  font-size: 1.5rem;
  list-style: none;
  font-family: "Modern Antiqua", serif;
}

#hero {
  background-color: purple;
  min-height: 300px;
}

#product-showcase {
  background-color: green;
  min-height: 300px;
}

#main-quote {
  background-color: yellow;
  min-height: 300px;
}

#cta {
  background-color: blue;
  min-height: 300px;
}