*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

:root {
  --darker-bg-color: #101924;
  --dark-bg-color: #1F2937; /* hero and footer */
  --light-text-color: #F9FAF8; 
  --accent-color: #3882F6;
  --dark-accent-color: #2f6CCD;
  --light-bg-color: #E5E7EB; /* quote section */
  --low-contrast-white: #E5E7EBBF;
}

body {
  font-family: "IBM Plex Serif", serif;
}

#page-wrapper {
  margin: auto 10px;
}

header {
  background-color: var(--darker-bg-color);
  height: 64px;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 1);
}

#nav-wrapper {
  display: flex;
  align-items: center;
  margin: auto 40px;
  padding-top: 8px;
}

#logo {
  margin-right: 50%;
  margin-left: 10px;
  width: 48px;
}

nav {
  width: 100%;
  height: 32px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 100px;
}

nav ul li {
  font-size: 1.5rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--light-text-color);
}

a:focus {
  border-left: 2px solid rgb(207, 207, 93);
}

a:hover {
  color: rgb(253, 92, 92);
}

a:active {
  color: red;
}

#hero {
  background-color: var(--dark-bg-color);
  min-height: 300px;
}

#hero-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 80px;
  gap: 80px;
}

#hero-signup-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 2 auto;
}

.btn {
  all: unset;
  align-self: flex-start;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 40px;
  background-color: var(--dark-accent-color);
  color: var(--light-text-color);
  border-radius: 6px;
}

#hero-signup-text button:hover {
  background-color: var(--accent-color);
}

#hero-signup-text h1 {
  font-size: 48px;
  color: var(--light-text-color);
}

#hero-signup-text p {
  font-size: 18px;
  color: var(--low-contrast-white);
}

#hero-img-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-img-ctn img {
  width: 100%;
}

#product-showcase {
  background-color: var(--light-text-color);
  min-height: 300px;
}

#product-showcase h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  color: var(--dark-bg-color);
}

#product-wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-box {
  width: 100px;
  height: 100px;
  border: 4px inset var(--accent-color);
  background-color: var(--dark-accent-color);
  border-radius: 6px;
}

#main-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg-color);
  min-height: 300px;
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin: 60px;
}

.quote-author {
  text-align: right;
}

#cta {
  background-color: var(--light-text-color);
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: var(--accent-color);
  border-radius: 6px;
  min-width: 300px;
  padding: 40px 100px;
}

#cta-text {
  font-size: 32px;
  font-weight: 500
}

.cta-btn {
  all: unset;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 40px;
  background-color: var(--dark-accent-color);
  color: var(--light-text-color);
  border-radius: 6px;
}

footer {
  background-color: var(--light-bg-color);
  color: black;
  text-align: center;
  font-size: 1.25rem;
  margin: 10px auto;
}